$primary-font: 'Fuzzy Bubbles', cursive;
$background1: rgb(0, 0, 0);
$background2: rgb(31, 31, 31);
$background3: rgb(85, 85, 85);

@mixin title {
  font-family: $primary-font;
  font-weight: 700;
  color: green;
}
@mixin text {
  font-family: $primary-font;
  font-weight: 400;
  color: white;
}
@mixin center-all {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@mixin box-design {
  border-radius: 10px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}
@mixin section-size {
  width: 100vw;
  padding: 0px 20px;
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #808080;
}
::-webkit-scrollbar-thumb {
  background: green;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(44, 155, 71);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}
html {
  font-size: 62.5%;
  background-color: $background2;
  overflow-x: hidden;
}
main {
  @include center-all();
}
header {
  @include center-all();
  @include section-size();
  flex-direction: column;
  height: 120px;
  background-color: $background1;
  justify-content: space-evenly;
  .header__logo {
    @include center-all();
    @include section-size();
    a {
      @include title();
      h1 {
      font-size: 3rem;
      }
    }
  }
  .header__nav {
    @include section-size();
    @include center-all();
    @include text();
    font-size: 1.6rem;
    a {
      text-decoration: underline;
      @include text();
    }
  }
}

.characters {
  @include center-all();
  @include section-size();
  padding-top: 20px;
  padding-bottom: 20px;
  flex-wrap: wrap;
  height: 100%;
  background-color: $background2;
  &__item {
    @include center-all();
    @include box-design();
    width: 130px;
    height: 160px;
    margin: 5px;
    background-color: $background3;
    transition: 200ms;
    &:hover {
      transform: scale(1.06);
    }
    img {
      width: 100px;
      border-radius: 10px;
    }
    h2 {
      @include text();
      font-size: 1.4rem;
      margin-top: 10px;
    }
  }
}

.character__inner {
  @include center-all();
  flex-direction: column;
  background-color: $background2;
  @include section-size();
  padding-bottom: 20px;
  &--card {
    margin-top: 20px;
    h2 {
      @include title();
      margin-top: 10px;
      font-size: 1.9rem;
    }
    img {
      width: 200px;
      border-radius: 10px;
    }  
  }
  &--text {
    h3 {
      @include title();
      margin-top: 5px;
      font-size: 1.5rem;
      span {
        @include text();
      }
    }
  }
}
.error404 {
  @include center-all();
  @include title();
  @include section-size();
  flex-direction: column;
  h2 {
    font-size: 2.8rem;
    margin-top: 20px;
  }
  p {
    @include text();
    margin-top: 20px;
    color: white;
    font-size: 1.6rem;
  }
  a {
    color: rgb(62, 136, 255);
    text-decoration: underline;
  }
}
.footer__info {
  width: 100%;
  height: 80px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  font-family: $primary-font;
}
.footer__info a {
  color: white;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.footer__info a:hover {
  font-size: 1.5rem;
  text-decoration: underline;
}
.footer__info span {
  color: red;
  margin-inline-start: 5px;
  font-size: 1.6rem;
  font-weight: bold;
  text-decoration: underline;
}
@media only screen and (min-width: 700px) {
  .characters__item {
    width: 200px;
    height: 220px;
    margin: 10px;
    background-color: $background3;
    img {
      width: 160px;
      border-radius: 10px;
    }
    h2 {
      @include text();
      font-size: 1.5rem;
      margin-top: 10px;
    }
  }
  header {
    height: 100px;
  }
  .character__inner {
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 40px;
    &--card {
      margin-top: 20px;
      h2 {
        font-size: 2rem;
      }
      img {
        width: 240px;
      }  
    }
    &--text {
      h3 {
        font-size: 1.6rem;
      }
    }
  }
}