$primary-font: 'Fuzzy Bubbles', cursive;
$background1: rgba(0, 0, 0, 0.9);
$background2: rgba(0, 0, 0, 0.8);
$background3: rgba(0, 0, 0, 0.7);

@mixin title {
  font-family: $primary-font;
  font-weight: 700;
}
@mixin text {
  font-family: $primary-font;
  font-weight: 400;
}
@mixin center-all {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@mixin box-design {
  border-radius: 10px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}
@mixin section-size {
  width: 100%;
  padding: 0px 20px;
}



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}
html {
  font-size: 62.5%;
}
header {
  @include center-all();
  flex-direction: column;
  height: 150px;
  background-color: $background1;
  justify-content: space-around;
  .header__logo {
    @include center-all();
    @include section-size();
    a {
      @include title();
      font-size: 2rem;
      color: green;
    }
  }
  .header__nav {
    @include section-size();
    @include center-all();
    @include text();
    font-size: 1.6rem;
    margin-bottom: 10px;
    a {
      color: green;
      text-decoration: underline;
    }
  }
}
#content {
  background-color: $background2;
}
.characters {
  @include center-all();
  @include section-size();
  flex-wrap: wrap;
  height: 100%;
  &__item {
    @include center-all();
    @include box-design();
    width: 240px;
    height: 260px;
    margin: 10px;
    background-color: $background3;
    img {
      width: 200px;
      border-radius: 10px;
    }
    h2 {
      @include text();
      color: white;
    }
  }
}
